body {
    background: #F9F9F9;
}

.wrapper {
    display: flex;
}

a, a:hover, a:focus {
    color: #606060;
}

.nav {
    align-items: center;
}

p {
    font-weight: 500;
}

.title {
    margin: 0;  
    display: flex;
    align-items: flex-end;
}

.btn {
    width: 100%;
    text-align: center;
    color: #2C2C2C;
    background: #FFFFFF;
    border-radius: 0;  
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.row {
    margin-right: -10px;
    margin-left: -10px;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #6F64F8;
    background-color: #6F64F8;
}

.custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-image: none;
}

.navbar {
    background: #FFF;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.line {
    height: 1px;
    margin: 22px 0px;
    background: #D6D6D6;
}

/* ---------------------------------------------------
    SIDEBAR
----------------------------------------------------- */

.sidebar {
    min-width: 220px;
    max-width: 220px;
    background: #FFF;
    color: #2C2C2C;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

/* ---------------------------------------------------
    CONTENT
----------------------------------------------------- */

.content {
    margin: 20px;
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}

.container-fluid {
    padding-left: 0;
}

.cd-breadcrumb {
    padding: 0;
}
.cd-breadcrumb li {
    display: inline-block;
    margin: .5em 0;
}
.cd-breadcrumb li > a {
    color: #7E72F2;
}
.cd-breadcrumb li:first-of-type::after {
    /* hide separator after the last item */
    font-weight: normal;
    content: '|';
    margin: .6em;
}
.cd-breadcrumb li::after {
    /* this is the separator between items */
    content: '\00bb';
    margin: .4em;
}
.cd-breadcrumb li:last-of-type::after {
    /* hide separator after the last item */
    display: none;
}
.cd-breadcrumb li.core > *,
.cd-breadcrumb li.current {
    /* selected step */
    color: #2C2C2C;
}

.cd-breadcrumb li.core {
    font-weight: bold;
}

/* "Disc" style */

#slider-range {
    background: #EDEDED; 
    height: .3em;
    border-radius: 1em;
    border: none;
}
#slider-range > span {
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    background: #6F64F8;
    border-color: #6F64F8;
    height: 1em;
    width: 1em;
    top: -.35em;
}

.ui-slider-range {
    background: #6F64F8;
}

.product-img {
    display:block;
    margin:auto;
    padding: 25px 10px 10px 10px;
    max-height: 270px;
}
.product-info {
    padding: 15px 15px 10px;
}
.product-name {
    padding-top: 10px;
    font-weight: 500;
    margin: 0;
}
.product-description {
    font-size: 12px; 
    color: #2C2C2C;
}

.nav-link {
    padding: .5rem;
}

.row .product-nav {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.product-nav ul li {
    display: inline;
}
.product-nav ul a {
    margin-left: 10px;
    padding: 5px 8px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135);
    border-radius: 4px;
    display: block;
}

.product-nav button {
    color: #606060;
    padding: 5px 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135);
    border-radius: 4px;
}

.title-slider {
    margin-bottom: 0;
}

.price-range {
    border: 0;
    font-weight: 500;
    width: 99%;
    text-align: right;
    outline: none;
}

.filter-form {
    background: #FFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135);
    border-radius: 4px;
    padding: 20px 25px 5px 25px;
}

.custom-control {
    margin-bottom: 3px;
}
.custom-control-label, .l {
    width: 100%;
    color: #2C2C2C;
    font-size: smaller;
}

.btn-primary, .str .right {
    background: #6F64F8;
    border-color: #6F64F8;
}

.btn-rating {
    font-size: small;
    padding: 0;
    color: #FFF;
    border-radius: 2px;
    height: 25px;
    width: 50px;
}
.btn-wish {
    color: #111;
    background: #EDEDED;
    border-bottom-left-radius: 8px;
    border: 0;
}
.btn-clear {
    width: 100%;
    height: 50px;
    text-align: center;
    color: #FFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135);
    border-radius: 8px;
}
.btn-add {
    color: #FFF;
    border-bottom-right-radius: 8px;
}
.btn-search {
    position: absolute; 
    right: 15px;
    height: 42px;
    width: 42px;
    border: none;
    background: white;
    outline: 0 !important;
}

.custom-control-label span, .l span {
    float: right;
}
.filter-form .rate {
    color: #FFA84C;
}
.filter-form .urate {
    color: #999;
}

.search-product {
    position: relative;
    padding: 5px 15px;
    margin: 0 auto;
    background: #FFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135);
    border-radius: 6px;
}
.form-input {
    height: 42px;
    width: 100%;
    color: #999;
    outline:none;
    border: none;
}

.row .product-item {
    padding: 20px 10px 0px;
}

.row .product {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135);
    height: 100%;
}

div .price {
    float: right;
}

.col-md-4 .str {
    display: flex;
}

.str .left, .str .right {
    width: 50%;
    height: 35px;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
}
